{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <h2 class="page-title text-center">
        {% block page_title %}
        {% endblock %}
    </h2>
</div>


<div class="row pt-5 mt-5">
    <div class="col-12 offset-0 offset-xl-2 col-xl-8">
    {% block page_content %}
        <a class="btn btn-big mb-5" href="{% url 'submission' %}">Spana in årets bidrag</a>

        <div class="card p-5">
            <p class="fs-2">
                Det vi alla har sett fram emot under det (andra) deprimerade covid-året.
            </p>
            <p class="fw-bold fs-1">
                Pepparkakshustävlingen 2021
                <img width="128px" src="/static/images/santa.gif">
            </p>
            <p class="fs-2">
                Vi hoppas att ni haft roligt, kastat deg i väggen och testat era
                förhållandens gränser! Det är exakt vad pepparkakshusbyggande handlar om!
            </p>
        </div>
    {% endblock %}
    </div>
</div>

{% endblock %}

